@charset "UTF-8";

/*================================================
 *  CSSリセット
 ================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,main,menu,nav.gnav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-weight:normal;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav.gnav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

h1{
	font-size: 100px;
	color:#4b341d;
}
h2 {
	margin-top: 50px;
	margin-bottom: 0.5em;
	font-size: 28px;
	color: #333;
	text-align: center;
	line-height: 1.0;
}

nav{
	margin:-80px 10px 10px 10px;
	padding: 0px;
	float:top;
	position:fixed;
	z-index: 9999;
	}
nav ul{
	
}
 nav li{
	 list-style-type: none;
	 margin:10px 10px;
 }
	nav li a{
		display: block;
		width: 70px;
		line-height: 70px;
		color: #D8D8D8;
		background: #FF5E5B;
		text-decoration: none;
		text-align: center;
		border-radius:50%
	}

 header{
	position: fixed;
	background: #00CECB;
	padding: 0px;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 9999;
	text-align: center;
 }


 a:hover {
	color: #76abe9;
}


article{
	margin-top: 200px;
}

div.contents{
    margin-top:40px;
	text-align: center;
}

 body{
	 background-color: #FFFFEA;
 }
 footer{
	margin:0px;
	padding: 0px;
	color: #7e7e7e;
	width: 100%;
	float:bottom;
	text-align: center;
	font-size: 40px;
 }
 a.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}